.cmp-embed__youtube {
  position: relative;
  width: 100%;
  height: 0;
  // video ratio of 16:9
  padding-bottom: 56.25%;
}

.cmp-embed__youtube-iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.cmp-embed {}