
//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background;
}


a {
    color: $color-link;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}
