
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #2020E0;
