//== Base

@include defineTheme(
    $fontSize: ($font-size, "Font Size"),
    $colorForeground: ($color-foreground, "Foreground Color"),
    $colorBackground: ($color-background, "Background Color"),
    $teaserBorderWidth: (0px, "Teaser / Border Width"),
    $teaserBorderColor: (#000000, "Teaser / Border Color")
    );

html,
body {
    margin: 0;
    font-size:   ref("fontSize");
    font-family: $font-family;
    line-height: $font-height;
    color:       ref("colorForeground");
    background:  ref("colorBackground");
}


a {
    color: $color-link;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

//== Grid

// Default breakpoint
.aem-Grid {
    @include generate-grid(default, $max_col);
}

// Phone breakpoint
@media (max-width: 768px) {
    .aem-Grid {
        @include generate-grid(phone, $max_col);
    }
}
