.cmp-teaser {
    @apply relative
    overflow-visible
    w-auto
}
.cmp-teaser__image img {
    @apply
    rounded-xl
    object-cover
    shadow-2xl
}
.cmp-teaser__content {
    @apply
    absolute
    top-2
    my-4
    ml-4
    rounded-xl
    left-10
    
}
.cmp-teaser__pretitle {
    @apply text-skin-btn-primary
    text-lg
    font-bold
}
.cmp-teaser__title {
    @apply text-skin-btn-primary
    text-2xl
    font-bold
    font-sans
    tracking-wider
}
.cmp-teaser__title-link {}
.cmp-teaser__description {
        @apply text-skin-btn-secondary
        bg-gray-900/70
        
}
.cmp-teaser__action-container {
    @apply
    p-4
}

.cmp-teaser__action-link {
    @apply 
    first-of-type:text-skin-btn-primary
    first-of-type:bg-skin-primary
    text-skin-btn-secondary
    bg-skin-secondary    
    hover:transition-transform
}
